body {
  background-color: #14bdac;
  font-family: Arial, sans-serif;
}

.players {
  padding: 10px 8px;
  background-color: white;
  text-align: center;
}

.buttons {
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 23px;
  outline: none;
}

.start_game {
  padding: 10px 8px 0px;
  text-align: center;
  font-size: 12px;
  opacity: 0.5;
}

.space {
  padding: 30px;
}

h1 {
  text-align: center;
  padding: 20px;
}

td {
  width: 100px;
  height: 100px;
  padding: 0%;
}
td span {
  height:99%;
  width: auto;
  /* background-color:pink; */
  display:block;
  overflow:auto;
}

table {
  margin: 5px auto;
}

.vert {
  border-left: 6px solid rgb(84, 84, 84);
  border-right: 6px solid rgb(84, 84, 84);
  opacity: 1;
}

.hori {
  border-top: 6px solid rgb(84, 84, 84);
  border-bottom: 6px solid rgb(84, 84, 84);
  opacity: 1;
}

.restart_game {
  padding: 10px 8px;
  background-color: white;
  text-align: center;
  color: #14bdac;
}

.restart_game_button {
  padding: 10px 8px;
  background-color: white;
  text-align: center;
  color: #14bdac;
  border: 0;
}

/* Draw the X */
.xmark { /* Scalable Vector Graphics */
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='24' height='24' viewBox='0 0 24 24'><path d='M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z' fill='black' stroke-width='8' opacity='1'/></svg>");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 70% 70%, auto;
  -webkit-transition-duration: 0.125s;
}

/* Draw the Circle */
.circle {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' width='100' height='100'><circle cx='50' cy='50' r='40' stroke='rgb(242, 235, 211)' stroke-width='18' fill='none'/></svg>");
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 80% 80%, auto;
  -webkit-transition-duration: 0.125s;
}

.playerShadow {
  box-shadow: 0px 5px;
  color: #14bdac;
}
